﻿<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title ng-bind="title">app</title>
    @Styles.Render("~/Content/css")
    <link href='http://fonts.googleapis.com/css?family=Bangers|Chewy' rel='stylesheet' type='text/css'>
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
               <a href="/#/" class="navbar-brand">My Awesome Comic List</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right" ng-show="status.loggedIn" ng-cloak>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Account<span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="background-color: #6d5c5c;">
                            <li><a href="#/AccountManagement">Manage</a></li>
                            <li><hr /></li>
                            <li><a id="logoutButton" ng-click="LogOut()">Log Out</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-show="!status.loggedIn" ng-cloak>
                    <li><a href="/#/Register">Register</a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Log In <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu" style="background-color: #6d5c5c;">
                            <li><input ng-model="user.username" class="form-control LoginInput" placeholder="Enter username here..." /></li>
                            <li><input ng-model="user.password" class="form-control LoginInput" type="password" placeholder="Enter password here..." /></li>
                            <li><button class="btn btn-info LoginInput" ng-click="Login();">Log In</button></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - An EDC Production</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @RenderSection("scripts", required: false)
</body>
</html>