﻿<div class="form-group" ng-init="getUser();">
    <label class="control-label">Username</label>
    <input class="form-control" ng-model="editUser.Username" /><br />
    <label class="control-label">Email</label>
    <input class="form-control" ng-model="editUser.Email" />
    <button class="btn btn-primary" ng-click="editAccount();">Submit Changes</button>
</div>