﻿<div ng-repeat="char in allCharacters">
    <div class="well row">
        <div class="col-md-2">
            <img src="{{char.ImageUrl}}" height="128" width="128" />
        </div>
        <div class="col-md-6">
            <h4 class="media-heading">{{char.Name}}</h4>
            <p>{{char.Description}}</p>
            <button class="btn btn-default" ng-click="editCharacter(char.CharacterId)">Edit</button>
            <button class="btn btn-danger" ng-click="deleteCharacter(char.CharacterId)">Delete</button>
        </div>
    </div>
 </div>
