﻿<div id="container">
    <div id="Collection">
        <div>
            <h1>Your Comic Collection</h1>
        </div>
        <div ng-repeat="x in allComics">
            <div class="well row">
                <div class="col-md-2">
                    <img src="{{x.ImageUrl}}" height="230" width="150" />
                </div>
                <div class="col-md-6">
                    <h4 class="media-heading">{{x.Title}}</h4>
                    <p>{{x.Description}}</p>
                </div>
                <div class="col-md-4">
                    
                    <button class="btn btn-danger" ng-click="editing = true" ng-hide="editing">Edit</button>

                    <div ng-hide="!editing" id="editwindow">
                        <button class="btn btn-success"  ng-click="digitalComic()">Digital  <span ng-show="digital" class="glyphicon glyphicon-ok"></span></button>
                        <button class="btn btn-success" ng-click="physicalComic()">Physcial  <span ng-show="physical" class="glyphicon glyphicon-ok"></span></button>
                        </br></br>
                        <button class="btn btn-danger"  ng-click="updateComic(x.ComicId)">Save</button>
                        <button class="btn btn-danger"  ng-click="editing = false">Cancel</button>
                    </div>
                        
                    </div>
            </div>
        </div>
    </div>

</div>