﻿<div class="container" ng-controller="DBController">
    <div class="row">
    <div id="Picture">
        <img ng-src="{{getCharacters.ImageUrl}}" style="height:300px;width:auto;box-shadow: 2px 2px 2px gray, inset 0 2px 2px rgba(255,255,255,1);" class="img-rounded img-responsive" />
    </div>
    <div id="Stats">
        {{}}

    </div>
    </div>
    <div id="LongDescription" >

    </div>














</div>