﻿<div>
    <h1>View Your Comics</h1>
    
    <div>
        <p>
            Start your Collection here: Enter a Marvel character below
        </p>
        <input class="form-control" id="Search" placeholder="Enter Marvel Hero" ng-model="Search" />
        <button class="btn btn-info" id="button" ng-click="displayCharacter()">Search</button><div>
        </div><br />

        <div ng-show="hasSearched && !searchResult">
            <p>No results found.</p>
        </div>

        <div ng-show="hasSearched && searchResult">
            <div class="well row">
                <div class="col-md-2">
                   <img src="{{searchResult.thumbnail.path}}.{{searchResult.thumbnail.extension}}" height="128" width="128" />
                </div>
                <div class="col-md-6">
                    <h4 class="media-heading">{{searchResult.name}}</h4>
                    <p>{{searchResult.description}}</p>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-info" ng-click="displayComics()">Show Comics List</button>
                    <button ng-show="showComics" class="btn btn-danger" ng-click="hideComics()">Hide Series List</button>
                    <br />
                    <br />
                    <button class="btn btn-info" ng-click="addCharacter(searchResult)">Save Character</button>
                </div>
            </div>
        </div>
        <div ng-show="showSeries">
            <div id="SearchFilter">
                <form>
                    <input type="text" ng-model="match.name" />
                    <input type="submit">
                </form>
            </div>
            <div id="SeriesList" ng-repeat="ser in searchResult.series.items | filter:match">
                <div class="row well">
                    <div class="col-md-2">
                        <img src="{{ser.thumbnail.path}}.{{ser.thumbnail.extension}}" height="128" width="128" />
                    </div>
                    <div class="col-lg-8">
                        <h4>{{ser.name}}</h4>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-danger">Get more information</button>
                    </div>
                </div>
            </div>
        </div>
        <div ng-show="showComics" >
            <div id="SearchFilter" class="well-lg">
                <form>
                    <input type="text" ng-model="match.name" />
                    <input type="submit">
                </form>

            </div>
            <div id="ComicsList" ng-repeat="com in searchResult.comics.items | filter:match">
                <div class="row well">
                    <div class="col-md-2">
                        <img src="{{com.thumbnail.path}}.{{com.thumbnail.extension}}" height="128" width="128" />
                    </div>
                    <div class="col-lg-8">
                        <h4>{{com.name}}</h4>
                    </div>
                    <div class="col-lg-2">
                        <button class="btn btn-danger" href="ShowComic.html" ng-click="getComicInfo(com.resourceURI)">Get More Info</button>
                    </div>
                </div>
            </div>
         </div>
        </div>
</div>

