﻿<br />
<div class="row">
    <div class="well col-sm-offset-2 col-sm-8">
        <div class="form-group">
            <label class="control-label">Username</label>
            <input class="form-control" ng-model="newUser.username" placeholder="Enter username here..." /><br />
            <label class="control-label">Email</label>
            <input class="form-control" ng-model="newUser.email" placeholder=" enter email here..." /><br />
            <label class="control-label">Password</label>
            <input class="form-control" type="password" ng-model="newUser.password" placeholder="enter password here..." /><br />
            <label class="control-label">Confirm Password</label>
            <input class="form-control" type="password" ng-model="newUser.confirmPassword" placeholder=" please confirm password..." /><br />
            <button class="btn btn-primary" ng-click="registerUser()">Register</button>
        </div>
    </div>
</div>