﻿
<div id="container">
    <div id="content" class="well media">
        <div class="media-left">
            <img src="{{singleComic.thumbnail.path}}.{{singleComic.thumbnail.extension}}" height="460" width="300" />
        </div>
        <div class="media-body">
            <h4 class="media-heading">{{singleComic.title}}</h4>
            <p>{{singleComic.description}}</p>
            <button class="btn btn-info" ng-click="addComic(singleComic)">Save to Collection</button>
         </div>
      </div>
          
    <div class="panel panel-info container">
        <div class="row pan">
            <div class="col-xs-3">
                <img src="{{pic.path}}.{{pic.extension}}" height="230" width="150" />
            </div>
        </div>
    </div>
          

            <div class="well">
                <h3>Creators</h3>
                <div ng-repeat="x in singleComic.creators.items">
                    {{x.name}}, {{x.role}}
                </div>
            </div>

            <div class="well">
                <h3>Who's in this Comic:</h3>
                <div ng-repeat="x in singleComic.characters.items">
                    {{x.name}}
                </div>
            </div>
        </div>

