﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
a {
    cursor: pointer;
}
.LoginInput {
    width: 85%;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
}

ul > li {
    text-align: center;
}

.myNavbar {
    background-color: #312b2b;
}

.dropdown-menu {
    width: 200px;
    height: 170px;
}

#logoutButton {
    color: #808080;
}
#logoutButton:hover {
    color: white;
}